<%= render "notifications/success" %>

<div class="row justify-content-center">
  <div class="col-md-8">
    <h1 class="text-center my-4">List of articles</h1>
    <% @articles.each do |article| %>
      <div class="card text-center my-3">
        <div class="card-header">
          <%= link_to article.user.username, user_path(article.user) %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to article.title, article_path(article) %></h5>
          <p class="card-text"><%= truncate(article.description, length:150) %></p>
          <%= link_to "View", article_path(article), class: "btn btn-success" %>
          <%= link_to "Edit", edit_article_path(article), class: "btn btn-primary" %>
          <%= link_to "Delete", article_path(article), data: {turbo_method: :delete}, class: "btn btn-danger" %>
        </div>
        <div class="card-footer text-muted">
          created at <%= article.created_at.year %>-<%= article.created_at.month %>-<%= article.created_at.day %> and updated at <%= article.updated_at.year %>-<%= article.updated_at.month %>-<%= article.updated_at.day %>
        </div>
      </div>
    <% end %>

    <%= paginate @articles %>

  </div>
</div>